<div>
    <div class="min-h-[93vh]">
        <p>
            <mat-toolbar color="primary" class="flex items-center justify-between">
                <div>
                    <span>Recipe Sharing</span>
                </div>
                <div>
                    <span class="example-spacer"></span>
                    <button mat-icon-button class="example-icon favorite-icon"
                            aria-label="Example icon-button with heart icon">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                        <mat-icon>share</mat-icon>
                    </button>
                </div>
            </mat-toolbar>
        </p>
    </div>

    <div class="flex justify-center bg-black bg-opacity-20">
        <p class="text-lg py-5"> Recipe sharing by Rex </p>
        <mat-icon fontIcon="favorite" class="py-5 mx-2 text-red-700 "></mat-icon>
    </div>
</div>
