<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row class="flex justify-between">
            <span>New Recipe</span>
            <button mat-icon-button mat-dialog-close>
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-dialog-content>
        <form>
            <div class="p-4">
                <mat-form-field class="w-full">
                    <mat-label class="text-gray-200">Title</mat-label>
                    <input matInput class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline" placeholder="Ex. Pizza" name="title" [(ngModel)]="recipeItem.title"/>
                </mat-form-field>
            </div>

            <div class="p-4">
                <mat-form-field class="w-full">
                    <mat-label class="text-gray-200">Description</mat-label>
                    <input matInput class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline" placeholder="description" name="description" [(ngModel)]="recipeItem.description"/>
                </mat-form-field>
            </div>
            <div>
                <mat-radio-group aria-label="Select an option" name="foodType" [(ngModel)]="recipeItem.foodType">
                    <mat-radio-button value="1">Vegetarian</mat-radio-button>
                    <mat-radio-button value="2">Non-Vegetarian</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="p-4">
                <mat-form-field class="w-full">
                    <mat-label class="text-gray-200">Image</mat-label>
                    <input matInput class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline" placeholder="Image Url" name="imageUrl" [(ngModel)]="recipeItem.imageUrl"/>
                </mat-form-field>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button color="primary" name="submit" type="submit" (click)="onSubmit()">
            <mat-icon>check</mat-icon>
            Create
        </button>
        <button mat-raised-button mat-dialog-close color="warn">
            <mat-icon>close</mat-icon>
            Cancel
        </button>
    </mat-dialog-actions>
</div>
