/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #303030;
  color: white;
}

.success-snackbar {
    --mdc-snackbar-container-color: rgb(49, 96, 41);
    --mdc-snackbar-supporting-text-color: white;
    --mdc-snackbar-container-shape: 10px;
}

.error-snackbar {
    --mdc-snackbar-container-color: rgb(148, 56, 56);
    --mdc-snackbar-supporting-text-color: white;
    --mdc-snackbar-container-shape: 10px;
}

.warn-snackbar {
    --mdc-snackbar-container-color: rgb(247,188,43,1);
    --mdc-snackbar-supporting-text-color: white;
    --mdc-snackbar-container-shape: 10px;
}

.info-snackbar {
    --mdc-snackbar-container-color: rgb(105,240,174) ;
    --mdc-snackbar-supporting-text-color: rgb(65 65 65);
    --mdc-snackbar-container-shape: 10px;
}

.progress-color{
    --mdc-linear-progress-active-indicator-color: rgb(247,188,43) !important;
    --mdc-circular-progress-active-indicator-color: rgb(247,188,43) !important;
}

.vegetarian-color{
    --mat-icon-color: green
}
